<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- format css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manjari|Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/png" href="/assets/Namslogo.png">
    <!-- custom css -->
    <!-- ppppppppppppppppp -->
    <link rel="stylesheet" href="/css/main.css">
	<title>NAMSLASU</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>