<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- format css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manjari|Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
	<title>NAMSLASU</title>
	<link rel="icon" type="image/png" href="/assets/Namslogo.png">
    <!-- custom css -->
    <!-- ppppppppppppppppp -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="wrapper">
		<section class="navigation">
			<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom shadow-sm sticky-top">
                <div class="container-fluid">
                    <!-- ppppppppppppppppppppp -->
                    <a href="/" class="navbar-brand"><img src="/assets/Namslogo.jpg" alt="logo"> NAMS-LASU </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Executives</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Login</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Lecturers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Highlight -->
            <div class="container-fluid bg-light py-1 highlight">
                <div class="row">
                    <div class="col-12 text-center d-none d-lg-block">
                        <span class="mr-3"><i class="fas fa-microscope"></i> Lab Scientist</span>
                        <span class="mr-3"><i class="fas fa-hand-holding-medical"></i> Immunologist</span>
                        <span class="mr-3"><i class="fas fa-university"></i> Professor</span>
                        <span class="mr-3"><i class="fas fa-microchip"></i> Biotechnologists</span>
                        <span class="mr-3"><i class="fas fa-virus"></i> Virologist</span>
                        <span class="mr-3"><i class="fas fa-vial"></i> Food Scientist</span>
                        <span class="mr-3"><i class="fas fa-capsules"></i> Pharmaceutical Scientist</span>
                        <span class="mr-3"><i class="fas fa-laptop"></i> Science Writer</span>
                    </div>
                </div>
            </div>
		</section>
        <div class="container">
                <div class="jumbotron mt-5">
                    <div class="container">
                            <h1 class="display-4"><%=level%>L Courses</h1>
                            <p class="" style="font-size: 18px;">Select your course. The Site will try to stay up to date with this courses</p>
                             <!-- for when user is logged in -->
                                <a class="btn btn-info text-white" href="#">Create New Post</a>
                            <!-- ****************** -->
                    </div>
                </div>
                <div class="row">
                    <% course.forEach((e)=>{ %>
						<div class="col-lg-4 col-sm-6 mb-3">
                            <div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title"><%= e.code %></h5>
    <p class="card-text"><%= e.title %></p>
    <a href="#" class="card-link">Files</a>
    <a href="#" class="card-link">Past Questions</a>
	<form class="form-inline float-right">
		<button href="#" class="btn btn-sm pb-0 btn-outline-danger"><i class="far fa-heart"></i> 1</button>
	</form>    
  </div>
</div>
                        </div>   
					<% }) %>
					
                         
                    
                </div>
        </div>
		
		<section class="comment space-sm">
			<div class="container">
				<h2>
					Comment
				</h2>
				<form class="form-group">
					<textarea class="form-control" rows="6"></textarea>
				</form>
				<button class="btn btn-info rounded-pill">
					Post Comment
				</button>
			</div>
		</section>
		
		<footer id="footer-straight" class="mt-5 py-3">
			<div class="container">
				<p class="border-bottom">Courtesy of The Executives 2019/2020 Academic Session</p>
				<small>
					Nigeria Association of Microbiology Students - Lagos State University © 2020 namlasu.com - All rights reserved.
				</small> <br>
				<span>Website Crafted By Kehinde Yishawu</span>
			</div>
		</footer>
		
	</div>

    <!-- <script src="./public/js/main.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>	