<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- format css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manjari|Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
	<title>NAMSLASU</title>
	<link rel="icon" type="image/png" href="/assets/Namslogo.png">
    <!-- custom css -->
    <!-- ppppppppppppppppp -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="wrapper">
		<div class="main bg-white">
        <div class="container">
                <div class="jumbotron mt-5">
                    <div class="container">
                            <h1 class="display-4">100L Courses</h1>
                            <p class="" style="font-size: 25px;">Select your course. The Site will try to stay up to date with this courses</p>
                             <!-- for when user is logged in -->
                                <a class="btn btn-info text-white" href="/news/new">Create New Post</a>
                            <!-- ****************** -->
                    </div>
                </div>
                <div class="row">
                    
                        <div class="col-md-4 col-sm-6 mb-3">
                            <div class="card shadow-sm">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Files</a>
    <a href="#" class="card-link">Past Questions</a>
  </div>
</div>
                        </div>    
                    
                </div>
        </div>
	</div>
	</div>

    <!-- <script src="./public/js/main.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>	