<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- format css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Manjari|Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/034e494de5.js" crossorigin="anonymous"></script>
	<title>NAMSLASU</title>
	<link rel="icon" type="image/png" href="/assets/Namslogo.png">
    <!-- custom css -->
    <!-- ppppppppppppppppp -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>

    <div class="wrapper">
        
        <!-- navigation -->
        <section class="navigation">
            <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom shadow-sm sticky-top">
                <div class="container-fluid">
                    <!-- ppppppppppppppppppppp -->
                    <a href="/" class="navbar-brand"><img src="/assets/Namslogo.jpg" alt="logo"> NAMS-LASU </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Courses</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">Executives</a>
                            </li>
							<% if(currentUser){ %>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									  <i class="fas fa-user"></i> <%= currentUser.firstname%>
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									  <a class="dropdown-item" href="/profile">Profile</a>
									  <a class="dropdown-item" href="/logout">Logout</a>
									</div>
								 </li>
							<% }else{ %>
								<li class="nav-item">
                                	<a href="/login" class="nav-link">Login</a>
                            	</li>
							<% } %>
                            
                            <li class="nav-item">
                                <a href="#" class="nav-link">Lecturers</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Highlight -->
            <div class="container-fluid bg-light py-1 highlight">
                <div class="row">
                    <div class="col-12 text-center d-none d-lg-block">
                        <span class="mr-3"><i class="fas fa-microscope"></i> Lab Scientist</span>
                        <span class="mr-3"><i class="fas fa-hand-holding-medical"></i> Immunologist</span>
                        <span class="mr-3"><i class="fas fa-university"></i> Professor</span>
                        <span class="mr-3"><i class="fas fa-microchip"></i> Biotechnologists</span>
                        <span class="mr-3"><i class="fas fa-virus"></i> Virologist</span>
                        <span class="mr-3"><i class="fas fa-vial"></i> Food Scientist</span>
                        <span class="mr-3"><i class="fas fa-capsules"></i> Pharmaceutical Scientist</span>
                        <span class="mr-3"><i class="fas fa-laptop"></i> Science Writer</span>
                    </div>
                </div>
            </div>

            <!-- image slider -->
            <!-- <div id="slides" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#slides" data-slide-to="0" class="active"></li>
                    <li data-target="#slides" data-slide-to="1"></li>
                    <li data-target="#slides" data-slide-to="2"></li>
                    <li data-target="#slides" data-slide-to="3"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/coffee tutor.jpg" alt="">
                        <div class="carousel-caption">
                            <h1 class="display-5">Program Your Life Today</h1>
                            <h3>Join the Mentor-Mentee Crew</h3>
                            <button type="button" class="btn btn-outline-light btn-lg">Get Started</button>
                            <button type="button" class="btn btn-info btn-lg">Find a Mentor</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/girls watch pc.jpg" alt="">
                        <div class="carousel-caption">
                                <h2 class="display-5">Covering Loads Of Courses</h2>
                                <h3>You are Just a Click Away</h3>
                                <button type="button" class="btn btn-light btn-lg">Get Started</button>
                                <button type="button" class="btn btn-primary btn-lg">Find a Mentor</button>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/assistant-busy-collaborate.jpg" alt="">
                        <div class="carousel-caption">
                                <h2 class="display-5">With Experienced Mentors Leading You</h2>
                                <h3>Dominate any Field In Your Course</h3>
                                <button type="button" class="btn btn-dark btn-lg mr-3">Are You an Experienced Tutor</button>
                                <button type="button" class="btn btn-light btn-lg d-none d-sm-inline">Find a Mentor</button>
                            </div>
                    </div>
                    <div class="carousel-item">
                        <img src="assets/class-classroom-conference.jpg" alt="">
                        <div class="carousel-caption">
                                <h2 class="display-5">With In-depth Tutorship</h2>
                                <h3>Get the insight You Need</h3>
                                <button type="button" class="btn btn-outline-light btn-lg">Get Started</button>
                                <button type="button" class="btn btn-secondary btn-lg">Find a Mentor</button>
                            </div>
                    </div>
                </div>
            </div> -->
			
			<!-- flash -->
			<% if(error && error.length>0) { %>
                <div class="alert alert-danger text-center mb-0" role="alert">
                   <%= error %>
                </div>
              <% } %>
              <% if(success && success.length>0) { %>
                <div class="alert alert-success text-center mb-0" role="alert">
                     <%= success %>
                </div>
              <% } %>
			
			<!-- display -->
            <div class="home-display">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-md-7">
                            <h1>Welcome To The NAMSLASU Official Website Page</h1>
                            <p>Creating new interactions and opportunities for students in the prestigious field of microbiology</p>
                            <button class="btn btn-lg btn-info rounded-pill">Get Started</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- Navigation end -->
        
        <!-- services -->
        <section id="services" class="space">
            <div class="container text-center">
                <h1 class="title pb-3">What We Do</h1>
                <div class="row justify-content-around">
                    <div class="col-lg-3  col-sm-6">
                        <!-- ppppppppppppp -->
                        <img src="/assets/tool.png" alt="">
                        <h4 class="my-3">Growth</h4>
                        <p>
                            Get every academic assistance and opportunities needed to grow in your studies and get accustomed to the Association or Department 
                        </p>
                    </div>
                    <div class="col-lg-3  col-sm-6">
                        <!-- ppppppppppppppppppppppp -->
                        <img src="/assets/moving.png" alt="">
                        <h4 class="my-3">Resource Management</h4>
                        <p>
                            Manage and get access to all your study materials and resource all  in one place on the site course center
                        </p>
                    </div>
                    <div class="col-lg-3  col-sm-6">
                        <!-- pppppppppppppppppppppppp -->
                        <img src="/assets/rocket.png" alt="">
                        <h4 class="my-3" >Stay Informed</h4>
                        <p>
                            Get access to vital news and information on the go. When you are a student of this association, you always have to stay informed and up to date
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Two column section -->
        <section class="two-column space">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-2 order-md-1">
                        <h2 class="mt-2">
                            Stay Connected...
                        </h2>
                        <p>Get in touch with your lecturer and current Executives in the Association for issuse needed resolved</p>
                        <p>Be it academic or Campus life, The welfare of the student body is our main priority.</p>
                        <p>Need help? Dont hesitate to ask, we are just a call away</p>
                        <button class="btn btn-info rounded-pill mb-3 mt-xl-5">Contact Us</button>
                    </div>
                    <div class="col-lg-6 order-1 order-md-2">
                        <!-- pppppppppppppppppppppp -->
                        <img src="/assets/man assist.jpg" alt="services" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>


        <!-- long banner -->
        <section id="long-banner" class="space">
            <div class="container-fluid">
                <!-- pppppppppppppp -->
                <img src="/assets/train1.jpg" class="img-fluid" alt="">
            </div>
        </section>
		
		<!-- 	blog news	 -->
		<section id="blog" class="space">
			<div class="container">
				<h2>
					Blog News
				</h2>
				<div class="row">
					<div class="text-center col-sm-12">
						<span>oops!! I guess there's nothing to display at the moment</span>
					</div>
				</div>
			</div>
		</section>

        <!-- Top Courses -->
        <section id="top-course" class="space">
            <div class="container">
                <h2 class="">
                    Level Courses
                </h2>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-3">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">100 Level Fresher</h5>
                            <p class="card-text">These contain introductory Course into general science. As a freshmen most of the courses you take are from the faculty</p>
                            <a href="/fresher" class="btn btn-info">Proceed</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3 mb-3">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">200 Level</h5>
                            <p class="card-text">These include introductory courses into the field of Microbiology. At this point you would start taking department courses.</p>
                            <a href="/sop" class="btn btn-info">Proceed</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3 mb-3">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">300 Level</h5>
                            <p class="card-text">These include intermediate course. At this point your laboratory hours should increase</p>
                            <a href="/junior" class="btn btn-info">Proceed</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-3 mb-3">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">400 Level</h5>
                            <p class="card-text">These are courses for top students in their final year. At this point you would start preparing your projects</p>
                            <a href="/senior" class="btn btn-info">Proceed</a>
                          </div>
                        </div>
                      </div>
					<div class="col-sm-6 col-lg-3 mb-3">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <h5 class="card-title">Textbooks and Others</h5>
                            <p class="card-text">Get all Text books and other resources that might be helpful in soft copy</p>
                            <a href="https://drive.google.com/drive/folders/1cb1R8SqKPRPElVieDFjKvv_vqx-qQ-0b?usp=sharing" class="btn btn-info">Proceed</a>
                          </div>
                        </div>
                      </div>
                    </div>
            </div>
        </section>

        <!-- Know the Mentors/Executives -->
        <section id="mentor" class="space">
            <div class="container">
                <h1 class="title text-center mb-5">The Executives</h1>
                <div class="row justify-content-around">
                    <!-- cards -->
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- pppppppppppppppppppp -->
                            <img src="/userimg/fela2.jpg" class="card-img-top img-fluid" alt="President image">
                            <div class="card-body">
                              <h5 class="card-title">Otubaga Olufela</h5>
                              <p class="card-text">
                                <strong>President</strong> <br>
                                Phone Number: 09043552415 <br>
                                Email <br>
                                Level: 400
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- ppppppppppppppp -->
                            <img src="/userimg/dunni.jpg" class="card-img-top" alt="VP image">
                            <div class="card-body">
                              <h5 class="card-title">Balogun Oladunni</h5>
                              <p class="card-text">
                                <strong>Vice President</strong> <br>
                                Phone Number: 09086202578 <br>
                                Email <br>
                                Level: 300
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- PPPPPPPPPPPPPPPPPPP -->
                            <img src="/userimg/kenny.jpg" class="card-img-top" alt="Gen.Sec Image">
                            <div class="card-body">
                              <h5 class="card-title">Yishawu Kehinde</h5>
                              <p class="card-text">
                                <strong>General Secretary</strong>  <br>
                                Phone Number: 08067361005 <br>
                                Email <br>
                                Level: 300
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- ppppppppppppppppppp -->
                            <img src="/userimg/abake.jpg" class="card-img-top" alt="Welfare Director image">
                            <div class="card-body">
                              <h5 class="card-title">Abdulazeez Zainab</h5>
                              <p class="card-text">
                                  <strong>Welfare Director</strong>
                                 <br>
                                Phone Number: 08147536487 <br>
                                Email <br>
                                Level: 300
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mt-4">
                    <div class="col-lg-3 text-right">
                        <a href="#" class="btn btn-info rounded-pill">See More</a>
                    
                    </div>
                </div>
            </div>
        </section>

        <!-- Meet the mentors/Lecturers -->
        <section id="mentor" class="space">
            <div class="container">
                <h1 class="title text-center mb-5">Dept. Lecturers</h1>
                <div class="row justify-content-around">
                    <!-- cards -->
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- pppppppppppppppppppp -->
                            <img src="#" class="card-img-top img-fluid" alt="President image">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Bola Oyefolu</h5>
                              <p class="card-text">
                                <strong>Staff Advisor</strong><br>
                                <strong>aobolaoyefolu@yahoo.com</strong>
                              </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- ppppppppppppppp -->
                            <img src="./public/assets/Tutor2.jpg" class="card-img-top" alt="VP image">
                            <div class="card-body">
                              <h5 class="card-title">Dr. Dauphin Moro</h5>
                              <p class="card-text">
                                <strong><i class="fas fa-envelope"></i> drddmoro@gmail.com</strong> <br>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- PPPPPPPPPPPPPPPPPPP -->
                            <img src="./public/assets/Tutor3.jpg" class="card-img-top" alt="Gen.Sec Image">
                            <div class="card-body">
                              <h5 class="card-title">Dr Bolanle Opere</h5>
                              <p class="card-text">
                                <strong><i class="fas fa-envelope"></i> bolanle.opere@gmail.com</strong> 
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="card mb-3">
                            <!-- ppppppppppppppppppp -->
                            <img src="./public/assets/Tutor4.jpg" class="card-img-top" alt="PRO image">
                            <div class="card-body">
                              <h5 class="card-title">Prof. Kabir Akinyemi</h5>
                              <p class="card-text">
                                <strong><i class="fas fa-envelope"></i> akinyemiko@yahoo.com</strong> 
                              </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end mt-4">
                    <div class="col-lg-3 text-right">
                        <button class="btn btn-info rounded-pill">See More</button>
                    </div>
                </div>
            </div>
        </section>

        <!-- Connect On Social Media -->
        <section id="social" class="my-5">
            <div class="container-fluid text-center">
                <h2 class="display-4">Connect With Us</h2>
                <div class="social-icon">
                    <!-- ppppppppppppppppppp -->
                    <a href="">
                        <img src="/assets/facebook bubble.png" alt="">
                    </a>
                    <a href="">
                        <img src="/assets/instagram bubble.png" alt="">
                    </a>
                    <a href="">
                        <img src="/assets/linkedin bubble.png" alt="">
                    </a>
                    <a href="">
                        <img src="/assets/twitter bubble.png" alt="">
                    </a>
                </div>
            </div>
        </section>

        <!-- footer -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-box mt-5">
                        <p>
                            This site belongs to the Nigeria Association of Microbiology Students - Lagos State University Chapter. As the association progresses, the site will continue be updated with more content and resources.
                            It is meant for the advancement of the student body and should not be abused
                        </p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p>
                            <i class="fas fa-phone-alt"></i> 
                            <!-- <i class="fas fa-phone-square-alt"></i> -->
                            <b>Contact Us</b>
                        </p>
                        <p><i class="fas fa-map-marker-alt"></i> Ojo, Badagry Express Way Lagos</p>
                        <p><i class="fas fa-envelope"></i> namslasu19@gmail.com</p>
                    </div>
                    <div class="col-md-4 footer-box">
                        <p><b>Need an issue resolved? Email Us</b></p>
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <textarea name="" id="" class="form-control" rows="5" placeholder="Message"></textarea>
                            </div>
                            <button class="btn btn-info">
                                Send
                            </button>
                        </form>
                    </div>
                </div>
                <div class="text-center">Courtesy of The Executives 2019/2020 Academic Session</div>
                <hr>
                <p class="copyright">
                    <small>Nigeria Association of Microbiology Students - Lagos State University</small>
                    &copy;
                    <small>2020 namslasu.com - All rights reserved.</small> <br>
                    
                    Website Crafted by Kehinde Yishawu
                </p>
            </div>
        </footer>

    </div>

    <!-- <script src="./public/js/main.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>