.form-size{
	width: 60%;
	margin: 10vh auto;
	max-width:350px;
}

.form-size-lg{
	width: 70%;
	margin: 7vh auto;
	max-width:550px;
}

.form-size img{
	width: 85px;
}

/* password validation */
#confirmpassword:focus:invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
/* **************************** */